[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/lua-rax"]
	path = 3rd/lua-rax
	url = https://github.com/hanxi/lua-rax.git
